name: Create Release
on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.9.1

      - id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT

      - id: sdk-version
        run: |
          echo "version=$(curl -s https://api.github.com/repos/phracker/MacOSX-SDKs/releases/latest | jq -r .tag_name)" | tee -a $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache MacOS SDK
        id: cache-sdk
        uses: actions/cache@v3
        with:
          path: |
            ../sdk
          key: macos-sdk-${{ steps.sdk-version.outputs.version }}
          restore-keys: |
            macos-sdk-

      - name: Download MacOS SDK
        if: steps.cache-sdk.outputs.cache-hit != 'true'
        run: |
          curl -OsL https://github.com/phracker/MacOSX-SDKs/releases/download/${{ steps.sdk-version.outputs.version }}/MacOSX${{ steps.sdk-version.outputs.version }}.sdk.tar.xz
          tar xf MacOSX${{ steps.sdk-version.outputs.version }}.sdk.tar.xz
          mv MacOSX${{ steps.sdk-version.outputs.version }}.sdk ../sdk
          rm MacOSX${{ steps.sdk-version.outputs.version }}.sdk.tar.xz
          pwd

      - name: Cache Go Modules
        uses: actions/cache@v3
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-go-

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
